@model ArsenalFanPage.Web.ViewModels.News.NewsListViewModel
@{
    ViewData["Title"] = "News";
    var topNews = Model.News.ToArray();
    var historyNews = Model.News.Where(x => x.CategoryName == "HISTORY").ToArray();
}


<body>
    <div class="top-news">
        <div class="container">
            <div class="row">
                <div class="col-md-12 tn-left">
                    <div class="row tn-slider">
                        @for (int i = 0; i < 2; i++)
                        { 
                        <div class="col-md-6">
                            <div class="tn-img w-100">
                                <img src="@topNews[i].ImageUrl" />
                                <div class="tn-title">
                                    <a asp-action="NewsById" asp-route-id="@topNews[i].Id">@topNews[i].Title</a>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cat-news">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>History</h2>
                    <div class="row cn-slider">
                        @for (int i = 0; i < 2; i++)
                        {
                            <div class="col-md-6">
                                <div class="cn-img">
                                    <img src="@historyNews[i].ImageUrl" />
                                    <div class="cn-title">
                                        <a asp-action="NewsById" asp-route-id="@historyNews[i].Id">@historyNews[i].Title</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-md-12">
                    <h2>Top-News</h2>
                    <div class="row cn-slider">

                        @for (int i = 0; i < 3; i++)
                        {
                        <div class="col-md-6">
                            @if (i % 2 == 0)
                            {
                                <div class="cn-img">
                                    <img src="@historyNews[i].ImageUrl" />
                                    <div class="cn-title">
                                        <a asp-action="NewsById" asp-route-id="@historyNews[i].Id">@historyNews[i].Title</a>
                                    </div>
                                </div>
                            }

                            @if (i % 2 != 0)
                            {
                                <div class="cn-img">
                                    <img src="@topNews[i].ImageUrl" />
                                    <div class="cn-title">
                                        <a asp-action="NewsById" asp-route-id="@topNews[i].Id">@topNews[i].Title</a>
                                    </div>
                                </div>

                            }

                        </div>
                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

